# prod | dev
STAGE=prod

# Get the following values from the Discord Developer Portal.
# https://discord.com/developers/applications
# https://discordjs.guide/preparations/setting-up-a-bot-application.html
DISCORD_APP_ID="123456789012345678"
DISCORD_BOT_TOKEN="get it from the Developer Portal!"

# AKA Server ID
DISCORD_GUILD_ID="520622812742811698"

# Comma-separated list of Google Gemini API keys.
# https://aistudio.google.com/app/apikey
GEMINI_API_KEYS="foo,bar,baz"
